@charset "utf-8";
.common_flex_container {
	display: -webkit-inline-flex; /* Safari */
	display: inline-flex; /*отображает контейнер как строчный элемент*/
	font-family: Ariel;
	
}
.social-buttons {
	width: 85px;
	height: 1000px;
	background-color: #1d232a;
}
.social-buttons input {
	margin-top: 20px;
	margin-left: 24px;
}
#hamburger_menu {
	margin-left: 30px;
	margin-bottom: 58px;
}
.nav {
	width: 230px;
	height: 1000px;
	background-color: #1d232a;
}
.nav figure {
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	color: #a1a5a7;
	margin-left: 30px;
	margin-right: 30px;
	border: none;
	margin-top: 25px;
}
.nav__point {
	display: table;
}
.nav_row {
	display: table-row;
}
.nav_name {
	text-align: left;
	width: 130px;
	display: table-cell;
}
.nav_num {
	text-align: right;
	width: 40px;
	display: table-cell;
}
.nav figcaption {
	color: #ffffff;
	font-size: 22px;
	font-weight: 500;
	line-height: 10px;
	margin-bottom: 20px;
	padding-bottom: 30px;
}
.nav hr {
	color: #2b3138;
	margin-top: 25px;
}
#inbox {
	width: 230px;
	height: 1000px;
}
.search {
}
.chat {
	width: 653px;
	height: 1000px;
}
.friendBar {
	width: 277px;
	height: 1000px;
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
}
.friendBar__friendName {
	text-align: center;
	color: #293037;
	font-size: 20px;
	font-weight: 500;
	line-height: 38px;
}
.friendBar__friendAdress {
	color: rgba(41, 48, 55, 0.7);
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	
}

.friendBar .friendBar__friendAdress{
	margin-bottom: 40px;
}
.friendInfo {
	width: inherit;
}
.friendBar__personalData {
	display: table;
	display: table-row;
	border-spacing: 15px;
	text-align: justify;
	margin: auto;
	width: inherit;
}
.friendBar__category-name, .friendBar__category-data {
	color: rgba(41, 48, 55, 0.8);
	font-size: 13px;
	font-weight: 500;
	line-height: 52px;
	display: table-cell;
	width: 177px;
	padding-left: 20px;
}
.friendBar__category-data {
	font-weight: 300;
	width: 100px;
	text-align: right;
}

.friendBar hr {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	margin-left: 8%;
	
}
